:root {
	--f-title: Arial, sans-serif;
	--f-body: Arial, sans-serif;
	--f-1-size: clamp(2.25rem, calc(1rem + 2.64vw), 3.375rem); /* 36px -> 54px */
	--f-2-size: clamp(1.125rem, calc(1rem + 0.416vw), 1.375rem); /* 18px -> 22px */
	--f-3-size: clamp(1.125rem, calc(1rem + 0.416vw), 1.375rem); /* 18px -> 22px */
	--f-4-size: clamp(1.125rem, calc(1rem + 0.416vw), 1.375rem); /* 18px -> 22px */
	--f-5-size: clamp(1.125rem, calc(1rem + 0.416vw), 1.375rem); /* 18px -> 22px */
	--f-6-size: 1rem; /* 16px */
	--f-body-size: clamp(1rem, calc(1rem + 0.14vw), 1.125rem); /* 16px -> 18px */
	--f-lede-size: clamp(1.125rem, calc(1rem + 0.556vw), 2rem); /* 18px -> 24px */
	--f-small-size: clamp(0.625rem, calc(0.625rem + 0.139vw), 0.75rem); /* 10px -> 12px */

	--c-text: #111; /* Text colour. */
	--c-bg: #eee; /* Background colour. */
	--c-brand-a: red;
	--c-brand-b: green;
	--c-brand-c: blue;
	--c-border: #333;
	--c-success: #90ed9a;
	--c-error: #b83636;
	--c-warn: #e4c67a;

	--l-body-pad: clamp(10px, 8vw, 20px);    /* Horizontal spacing. */
	--l-block-pad: 1rem;  /* Verical spacing. */
	--l-gutter-width: Min(5vw, 20px);
	--l-max-width: 1440px;
	--l-max-content: Min(var(--l-max-width), calc(100vw - var(--l-body-pad) * 2));

	--l-header-height: clamp(2rem, 8vw, 120px);
	--l-viewport-height: calc(100vh - var(--l-header-height));

	--s-border-radius: 1.875rem;
	--s-box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

html,
body {
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font: 500 100%/1.4 var(--f-body);
  color: var(--c-text);
	background: var(--c-bg);			
}

*,
*:before,
*:after,
input,
select,
textarea {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	image-rendering: -webkit-optimize-contrast;
}

.body-pad {
	padding-left: var(--l-body-pad);
	padding-right: var(--l-body-pad);
}

.block-pad {
	padding-top: var(--l-block-pad);
	padding-bottom: var(--l-block-pad);
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.capitalize {
	text-transform: capitalize;
}

/*******************************
 *		Typography.
 *******************************/
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin: 0 0 0.4em;
    font-family: var(--f-body);
		font-weight: 100;
}

h1,
.h1 {
  font-size: var(--f-1-size);
}

h2,
.h2 {
  font-size: var(--f-2-size);
	line-height: 2;
	text-transform: uppercase;
	border-bottom: 1px solid var(--c-brand-a);
}

h3,
.h3 {
  font-size: var(--f-3-size);
}

h4,
.h4 {
  font-size: var(--f-4-size);
}

h5,
.h5 {
  font-size: var(--f-5-size);
}

h6,
.h6 {
  font-size: var(--f-6-size);
}

p,
address,
table,
li {
  font-size: var(--f-body-size);
}

small {
  font-size: var(--f-small-size);
}


/*******************************
 *		Forms.
 *******************************/
input:not([type="submit"]),
textarea,
select {
	width: 100%;
	padding: 0.4em;
	border-radius: 0.3em;
	border: 0;
}

textarea {
	min-height: 120px;
}


/*******************************
 *		Forms.
 *******************************/
.grid {
	--grid-template-columns: repeat(12, 1fr);

	display: grid;
	grid-gap: var(--l-gutter-width);
	grid-template-columns: var(--grid-template-columns);
}